<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script>  
        function createXMLHttpRequest() {
            var xhr;
            if (window.XMLHttpRequest) {
                xhr = new XMLHttpRequest();
                if (xhr.overrideMimeType)
                    xhr.overrideMimeType('text/xml');
            } else if (window.ActiveXObject) {
                xhr = new ActiveXObject('Microsoft.XMLHTTP');
            }
            return xhr;
        }

        function post(url, body, fnSucceed, fnFail, fnLoading) {
            var xhr = createXMLHttpRequest();
            if (xhr != null) {
                xhr.open("POST", url, true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.onreadystatechange = function () {
                    // readyState 五种状态
                    // 0 － （未初始化）调用了open()方法，未调用send()方法
                    // 1 － （载入）send()方法,正在发送请求
                    // 2 － （载入完成）send()方法执行完成，已经接收到全部响应内容
                    // 3 － （交互）正在解析响应内容
                    // 4 － （完成）响应内容解析完成
                    if (xhr.readyState == 4) {
                        if (xhr.status == 200) {
                            if (fnSucceed)
                                fnSucceed(xhr.responseText);
                        }
                        else {
                            if (fnFail)
                                fnFail("HTTP请求错误！错误码：" + xhr.status);
                        }
                    }
                    else {
                        if (fnLoading)
                            fnLoading();
                    }
                }
                xhr.send(JSON.stringify(body));
            }
        }
        function selectHost(obj) {
            var opt = obj.options[obj.selectedIndex];
            console.log(opt.text, opt.value);
            var friendsslaver = document.getElementById("friendsslaver");
            var inputs = friendsslaver.getElementsByTagName("input");
            for (let index = 0; index < inputs.length; index++) {
                const element = inputs[index];
                element.checked = false;
                element.parentElement.style.display = "block";
                if (opt.innerText == element.value) {
                    console.log(opt.innerText, element.value)
                    element.parentElement.style.display = "none";
                }
            }
        }
        function toBeFriends() {
            var obj = document.getElementById("host");
            if (!obj.selectedIndex) {
                alert("no master be selected")
                return
            }
            var opt = obj.options[obj.selectedIndex];
            var inputs = document.getElementById("friendsslaver").getElementsByTagName("input");
            var friends = [];
            friends.push(opt.text);
            for (let index = 0; index < inputs.length; index++) {
                const element = inputs[index];
                if (element.checked) {
                    friends.push(element.value)
                }
            }
            if (friends.length <= 1) {
                alert("no friend be selected")
                return;
            }

            console.log(opt.text, friends)
            post("/toBeFriends", { friends });
        }

        function getCommonFriends() {
            var fsDom = document.getElementById("commonfriends");
            var inputs = fsDom.getElementsByTagName("input");
            var l = inputs.length;
            var params = []
            for (var i = 0; i < l; i++) {
                if (inputs[i].checked) {
                    params.push(inputs[i].value)
                }
            }
            console.log(params)
            if (params.length > 1) {
                post("/retreiveCommonFriends", { friends: params });
            }
        }

        function selectRequestor(obj) {
            var opt = obj.options[obj.selectedIndex];
            console.log(opt.text, opt.value);
            var subBlock = document.getElementById("subBlock");
            var inputs = subBlock.getElementsByTagName("input");
            for (let index = 0; index < inputs.length; index++) {
                const element = inputs[index];
                element.checked = false;
                element.parentElement.style.display = "block";
                console.log(opt.innerText, element.value)
                if (opt.innerText == element.value) {
                    element.parentElement.style.display = "none";
                }
            }
        }

        function subBlock(url) {
            var obj = document.getElementById("requestor");
            if (!obj.selectedIndex) {
                alert("no master be selected")
                return
            }
            var opt = obj.options[obj.selectedIndex];
            var inputs = document.getElementById("subBlock").getElementsByTagName("input");

            var params = {
                requestor: opt.text,
                target: ""
            }
            for (let index = 0; index < inputs.length; index++) {
                const element = inputs[index];
                if (element.checked) {
                    params.target = element.value;
                }
            }
            if (!params.target) {
                alert("no friend be selected")
                return;
            }

            console.log(params)
            post(url, params);
        }

        window.addEventListener("load", function (evt) {
            var output = document.getElementById("output");
            var input = document.getElementById("input");
            var email = document.getElementById("mail");
            var ws;
            var print = function (message) {
                var d = document.createElement("div");
                d.innerHTML = message;
                output.appendChild(d);
            };


            function getFriends() {
                var xhr = createXMLHttpRequest();
                if (xhr != null) {
                    xhr.open("GET", "/friends", true);
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState == 4) {
                            if (xhr.status == 200) {
                                console.log(xhr.responseText, JSON.parse(xhr.responseText))
                                var friends = JSON.parse(xhr.responseText)
                                var fsDom = document.getElementById("friends");
                                //clear
                                var divs = fsDom.getElementsByTagName("div");
                                var l = divs.length;
                                for (var i = 0; i < l; i++)
                                    divs[0].remove();
                                //clear
                                var friendsslaver = document.getElementById("friendsslaver");
                                var divs = friendsslaver.getElementsByTagName("div");
                                var l = divs.length;
                                for (var i = 0; i < l; i++)
                                    divs[0].remove();
                                var commonDom = document.getElementById("commonfriends");
                                var divs = commonDom.getElementsByTagName("div");
                                var l = divs.length;
                                for (var i = 0; i < l; i++)
                                    divs[0].remove();
                                var subBlock = document.getElementById("subBlock");
                                var divs = subBlock.getElementsByTagName("div");
                                var l = divs.length;
                                for (var i = 0; i < l; i++)
                                    divs[0].remove();

                                var host = document.getElementById("host");
                                host.options.length = 0;
                                var option = document.createElement("option");
                                option.value = 0;
                                option.innerText = "";
                                host.appendChild(option);

                                var requestor = document.getElementById("requestor");
                                requestor.options.length = 0;
                                var option = document.createElement("option");
                                option.value = 0;
                                option.innerText = "";
                                requestor.appendChild(option);

                                var publisher = document.getElementById("publisher");
                                publisher.options.length = 0;
                                var option = document.createElement("option");
                                option.value = 0;
                                option.innerText = "";
                                publisher.appendChild(option);

                                var smSelect = document.getElementById("smSelect");
                                smSelect.options.length = 0;
                                var option = document.createElement("option");
                                option.value = 0;
                                option.innerText = "";
                                smSelect.appendChild(option);

                                for (let index = 0; index < friends.length; index++) {
                                    var friend = friends[index];

                                    var div = document.createElement("div");
                                    div.innerHTML = `<input type="checkbox" name="1" value="` + friend.email + `"> ` + friend.email + ``;
                                    fsDom.appendChild(div);

                                    var div1 = document.createElement("div");
                                    div1.innerHTML = `<input type="checkbox" name="2" value="` + friend.email + `"> ` + friend.email + ``;
                                    friendsslaver.appendChild(div1);
                                    var option = document.createElement("option");
                                    option.value = friend.id;
                                    option.innerText = friend.email;
                                    host.appendChild(option);

                                    var div2 = document.createElement("div");
                                    div2.innerHTML = `<input type="checkbox" name="3" value="` + friend.email + `"> ` + friend.email + ``;
                                    commonDom.appendChild(div2);

                                    var option = document.createElement("option");
                                    option.value = friend.id;
                                    option.innerText = friend.email;
                                    requestor.appendChild(option);
                                    var div2 = document.createElement("div");
                                    div2.innerHTML = `<input type="radio" name="nima" value="` + friend.email + `"> ` + friend.email + ``;
                                    subBlock.appendChild(div2);

                                    var option = document.createElement("option");
                                    option.value = friend.id;
                                    option.innerText = friend.email;
                                    publisher.appendChild(option);

                                    var option = document.createElement("option");
                                    option.value = friend.id;
                                    option.innerText = friend.email;
                                    smSelect.appendChild(option);
                                }
                            }
                            else {
                            }
                        }
                        else {

                        }
                    }
                    xhr.send();
                }
            }

            getFriends();



            document.getElementById("open").onclick = function (evt) {
                if (ws) {
                    return false;
                }
                // ws = new WebSocket("{{.}}");
                ws = new WebSocket("ws://" + window.location.host + "/ws");
                ws.onopen = function (evt) {
                    print("OPEN");
                }
                ws.onclose = function (evt) {
                    print("CLOSE");
                    ws = null;
                }
                ws.onmessage = function (evt) {
                    print("RESPONSE: " + evt.data);
                    getFriends();
                }
                ws.onerror = function (evt) {
                    print("ERROR: " + evt.data);
                }
                return false;
            };
            document.getElementById("send").onclick = function (evt) {
                if (!ws) {
                    return false;
                }
                var publisher = document.getElementById("publisher");
                if (!publisher.selectedIndex) {
                    alert("no master be selected")
                    return
                }
                var input = document.getElementById("input");
                var opt = publisher.options[publisher.selectedIndex];
                console.log(opt.text, input.value)
                var message = JSON.stringify({ cmd: "publish", type: "home", data: { email: opt.text, message: input.value } })
                ws.send(message);
                // print("SEND: " + message);
                return false;
            };
            document.getElementById("smBtn").onclick = function (evt) {
                var smSelect = document.getElementById("smSelect");
                if (!smSelect.selectedIndex) {
                    alert("no master be selected")
                    return
                }
                var input = document.getElementById("mention");
                var opt = smSelect.options[smSelect.selectedIndex];
                console.log(opt.text, input.value)
                post("/retreiveSubscribeMentionedFriends", { sender:opt.text, text: input.value });
                return false;
            };
            document.getElementById("close").onclick = function (evt) {
                if (!ws) {
                    return false;
                }
                ws.close();
                return false;
            };

            document.getElementById("add").onclick = function (evt) {
                console.log(ws)
                if (!ws) {
                    return false;
                }
                var message = JSON.stringify({ cmd: "new_friend", type: "home", data: email.value })
                ws.send(message);
                // print("SEND: " + message);
                return false;
            };
            document.getElementById("isFriend").onclick = function (evt) {
                var fsDom = document.getElementById("friends");
                var inputs = fsDom.getElementsByTagName("input");
                var l = inputs.length;
                var params = []
                for (var i = 0; i < l; i++) {
                    if (inputs[i].checked) {
                        params.push(inputs[i].value)
                    }
                }
                console.log(params)
                if (params.length > 1) {
                    post("/isFriend", { friends: params });
                }
                evt.preventDefault();
                return false;
            };
        });
    </script>
</head>

<body>
    <table>
        <tr>
            <td valign="top" width="50%">
                <p>Click "Open" to create a connection to the server, "Send" to send a message to the server and "Close" to
                    close the connection. You can publish topic and send multiple times.</p>
                <p></p>
                <form>
                    <label>WebSocket:</label>
                    <input type="button" id="open" value="Open" style="background: green;color: white;padding: 5px 10px;" />
                    <input type="button" id="close" value="Close" style="background: red;color: white;padding: 5px 10px;" />
                    <p></p>
                    <input id="mail" type="text" value="example@example.com" />
                    <input type="button" id="add" value="Add friend" />
                    <div id="friendsslaver">
                        <select id="host" onchange="selectHost(this)"></select>
                    </div>
                    <input type="button" onclick="toBeFriends()" value="To be friends" />
                    <hr>
                    <p>relationship</p>
                    <div id="friends"></div>
                    <input type="button" id="isFriend" value="Are they friends?">
                    <hr>
                    <!-- <p>myFriends</p>
                            <div id="myFriends"></div>
                            <input type="button" id="getMyFriends" value="Retrieves friends list">
                            <hr> -->
                    <p>common friends</p>
                    <div id="commonfriends"></div>
                    <input type="button" onclick="getCommonFriends()" value="Retrieves common friends" />
                    <hr>

                    <p>subscribe/block</p>
                    <div id="subBlock">
                        <select id="requestor" onchange="selectRequestor(this)"></select>
                    </div>
                    <input type="button" onclick="subBlock('/subscribe')" value="subscribe" />
                    <input type="button" onclick="subBlock('/block')" value="block" />
                    <p></p>
                    <select id="publisher"></select>
                    <input id="input" type="text" value="topic one!" />
                    <input type="button" id="send" value="Publish topic" />
                    <hr>
                    <p>subscribe/metioned</p>
                    <select id="smSelect"></select>
                    <input id="mention" type="text" value="hello! " />
                    <input type="button" id="smBtn" value="Subscribe/metioned" />
                    <hr>
                </form>
            </td>
            <td valign="top" width="50%">
                <div id="output"></div>
            </td>
        </tr>
    </table>
</body>

</html>